@import "@/app/sass/variables.scss";

.customButton {
  width: 280px;
  height: 40px;
  border-color: $brand-color-primary-dark;
  background-color: $brand-color-primary-dark;

  &.largeButton {
    height: 56px !important;
  }

  &.fullWidth {
    width: 100% !important;
  }

  &:hover {
    border-color: $brand-color-primary-darkest;
    background-color: $brand-color-primary-darkest;
  }

  &:active {
    border-color: $brand-color-primary-dark-active;
    background-color: $brand-color-primary-dark-active;
  }

  &:disabled {
    color: $neutral-color-gray-strong;
    border-color: $neutral-color-gray-soft;
    background-color: $neutral-color-gray-soft !important;
  }
}
