@import "@/app/sass/variables";

.entry {
  padding: 48px;
  overflow: auto;
  height: 90%;

  &.mobile {
    padding: 24px 24px 0 24px !important;
    height: 100%;
    overflow-y: auto;

    // &.mobileScan {
    //   padding: 0 !important;
    //   overflow-y: hidden;
    // }

    .divider {
      margin-bottom: 0px !important;
    }

    .entryContainer {
      margin-bottom: 72px;
    }
  }
  .col {
    display: flex;
    flex-direction: column-reverse;
  }
}

.mt {
  margin-top: 16px;
}

.entryContainer {
  padding: 16px;
  border-radius: 24px;
  border: 1px solid $neutral-color-gray-medium;
  background-color: $neutral-color-gray-softest;
}

.flexColDirection {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .mobileRow {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.title {
  color: $brand-color-primary-medium;
  font-weight: $font-weight-medium;
  font-size: $font-size-md;
}

.divider {
  height: 1px;
  width: 100%;
  margin-bottom: 24px;
  background: linear-gradient(
    90deg,
    rgba(182, 199, 212, 0) 0%,
    #b6c7d4 49.52%,
    rgba(182, 199, 212, 0.15625) 99.04%
  );
}

.topInfo {
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  justify-content: flex-end;
}

.mobileOptions {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $neutral-color-gray-softest;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .modalHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 40px;
    padding-right: 16px;

    .actionContainer {
      width: 88px;
      height: 88px;
      border-radius: 50%;
      display: flex;
      box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.14);
      box-shadow: 0px 4px 18px 1px rgba(0, 0, 0, 0.1);
      justify-content: center;
      align-items: center;
      background-color: $volcano-soft;
      position: absolute;
      bottom: 10px;
      left: 0px;
    }
  }

  .modalInfo {
    color: $neutral-color-gray-strongest;

    .topLine {
      display: flex;
      font-size: $font-size-md;
      font-weight: $font-weight-medium;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
    }

    .bottomLine{
      font-size: $font-size-xs;
      font-weight: $font-weight-regular;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .modalOptions {
    display: flex;
    justify-content: flex-end;
  }
}
