// COLORS
$brandcolor-primary-darkest: #575BEA;
$brandcolor-primary-dark: #4263D0;
$brandcolor-primary-medium: #2784FF;
$brandcolor-primary-light: #90C2F3;

$neutral-color-gray-strongest: #718797;
$neutral-color-grat-strong: #99B9D1;
$neutral-color-gray-medium: #B6C7D4;
$neutral-color-gray-light: #E8EBF4;
$neutral-color-gray-soft: #F1F2F6;
$neutral-color-gray-softcare: #F7F7FC;
$neutral-color-gray-softest: #FFFFFF;

// FONT SIZE
$font-size-micro: 10px;
$font-size-xxxs: 11px;
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 40px;
$font-size-display: 64px;