// COLORS
$brand-color-primary-dark-active: #2b2e73;
$brand-color-primary-darkest: #3A3E99;
$brand-color-primary-dark: #575BEA;
$brand-color-primary-medium: #2784FF;
$brand-color-primary-light: #90C2F3;

$neutral-color-dark-strongest: #091E42;
$neutral-color-dark-strong: #344449;
$neutral-color-dark-medium: #42526E;

$neutral-color-gray-strongest: #718797;
$neutral-color-gray-strong: #99B9D1;
$neutral-color-gray-medium: #B6C7D4;
$neutral-color-gray-light: #E8EBF4;
$neutral-color-gray-soft: #F1F2F6;
$neutral-color-gray-softcare: #F7F7FC;
$neutral-color-gray-softest: #FFFFFF;

// FONT SIZE
$font-size-micro: 10px;
$font-size-xxxs: 11px;
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 40px;
$font-size-display: 64px;

// FONT WIGHT
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;