
@import './_variables';

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.centerInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 50%;
    height: 100vh;  

    .loginForm {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }
}

.banner {
    width: 50%;
    height: 100vh;
    background-color: $brandcolor-primary-dark;
    flex-direction: column;
    gap: 40px;

    .bannerText {
        font-size: $font-size-xl;
        color: $neutral-color-gray-softest;
    }

    .biggerCircle {
        width: 580px;
        height: 580px;
        padding: 10px;
        border-radius: 580px;
        background: linear-gradient(198deg, rgba(255, 255, 255, 0.40) 12.51%, rgba(255, 255, 255, 0.00) 88.73%);

        .smallerCircle {
            position: absolute;
            width: 489px;
            height: 489px;
            border-radius: 489px;
            background: linear-gradient(198deg, rgba(255, 255, 255, 0.40) 12.51%, rgba(255, 255, 255, 0.00) 88.73%);

            .image {
                position: relative;
            }
        }
    }
}