:export {
  brandColorPrimaryDarkActive: #2b2e73;
  brandColorPrimaryDarkest: #3a3e99;
  brandColorPrimaryDark: #575bea;
  brandColorPrimaryMedium: #2784ff;
  brandColorPrimaryLight: #90c2f3;

  neutralColorDarkStrongest: #091e42;
  neutralColorDarkStrong: #344449;
  neutralColorDarkMedium: #42526e;

  neutralColorGrayStrongest: #718797;
  neutralColorGrayStrong: #99b9d1;
  neutralColorGrayMedium: #b6c7d4;
  neutralColorGrayLight: #e8ebf4;
  neutralColorGraySoft: #f1f2f6;
  neutralColorGraySoftcare: #f7f7fc;
  neutralColorGraySoftest: #ffffff;

  variantColorPurpleDark: #7587ec;
  variantColorPurpleLight: #f0f3ff;

  volcanoStrongest: #b00000;
  volcanoStrong: #ea4335;
  volcanoLight: #f94439;
  volcanoSoft: #fed5d1;

  greenDarkestActive: #035802;
  greenDarkest: #026b00;
  greenDark: #51aa62;
  green-medium: #b1fabc;
  greenLight: #e1f8e1;
  greenLightest: #f3fff2;

  feedbackColorSuccess: #4db848;
  feedbackColorWarning: #ffab00;
  feedbackColorDanger: #ff3e32;
  handOffTitle: #9e00ff;
  handOffFrameBase: #E6F2FF;

}
