// COLORS
$brand-color-primary-dark-active: #2b2e73;
$brand-color-primary-darkest: #3a3e99;
$brand-color-primary-dark: #575bea;
$brand-color-primary-medium: #2784ff;
$brand-color-primary-light: #90c2f3;

$neutral-color-dark-strongest: #091e42;
$neutral-color-dark-strong: #344449;
$neutral-color-dark-medium: #42526e;

$neutral-color-gray-strongest: #718797;
$neutral-color-gray-strong: #99b9d1;
$neutral-color-gray-medium: #b6c7d4;
$neutral-color-gray-light: #e8ebf4;
$neutral-color-gray-soft: #f1f2f6;
$neutral-color-gray-softcare: #f7f7fc;
$neutral-color-gray-softest: #ffffff;

$variant-color-purple-dark: #7587EC;
$variant-color-purple-light: #F0F3FF;

$volcano-strongest: #B00000;
$volcano-strong: #EA4335;
$volcano-light: #F94439;
$volcano-soft: #FED5D1;

$green-darkest-active: #035802;
$green-darkest: #026B00;
$green-dark: #51AA62;
$green-medium: #B1FABC;
$green-light: #E1F8E1;
$green-lightest: #F3FFF2;

$feedback-color-success: #4DB848;
$feedback-color-warning: #FFAB00;
$feedback-color-danger: #FF3E32;
$hand-off-title: #9E00FF;

// FONT SIZE
$font-size-micro: 10px;
$font-size-xxxs: 11px;
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 40px;
$font-size-display: 64px;

// FONT WIGHT
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;